<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
        {% block head %}
            {% if title %}
                <title>PA Project - {{ title }}</title>
            {% else %}
                <title>PA Project</title>
            {% endif %}
        {% endblock %}
    </head>


    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="home">Home</a></li>
                    <li> <a href="simulation">Simulation</a></li>
                </ul>
            </nav>
            <a class="cta" href="contact"><button>Contact</button></a>
        </header>

        {% block content %}
        {% endblock %}
    </body>

</html>