<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="home">Home</a></li>
                    <li><a href="simulation">Simulation</a></li>
                </ul>
            </nav>
            <a class="cta" href="contact"><button>Contact</button></a>
        </header>
    </body>

    <body>
        <li>Kacper Banasik 145400</li>
        <li>Kacper Banasik 145400</li>
    </body>

</html>