<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="home">Home</a></li>
                    <li><a href="simulation">Simulation</a></li>
                </ul>
            </nav>
            <a class="cta" href="contact"><button>Contact</button></a>
        </header>
    </body>

{#    <section class="naglowek"/>#}
    <body>
        <h1>
            <section class="naglowek"/>
            <strong>OPIS PROJEKTU</strong>
            </section>
        </h1>

        <p>
            <section class="opis"/>
            Tematem naszego projektu będzie implementacja układu automatycznej regulacji dla czajnika elektrycznego.
            W trakcie realizacji projektu skupimy się na regulowaniu temperatury wody w środku czajnika. Do realizacji
            projektu wykorzystamy język programowania python oraz Flask, który jest jego frameworkiem. Do przechowywania
            oraz przetwarzania danych posłuży nam biblioteka Pandas, a do jej wizualizacji użyjemy
            biblioteki Bokeh. Kompletny projekt zaprezentujemy w postaci aplikacji webowej, którą postawimy na Raspberry
            Pi.
            </section>
        </p>

        <h2>
            <section class="naglowek"/>
            <strong>PODZIAŁ OBOWIĄZKÓW</strong>
            </section>
        </h2>

        <p>
            <section class="opis2"/>
                <p>
                    Pomimo podziału zadaniami w grupie, każdy członek projektu będzie zaznajomiony z działaniem każdego
                    elementu projektu.
                    <li>Piotr Baryczkowski - implementacja modelu matematycznego układu automatycznej regulacji w języku python.</li>
                    <li>Kacper Banasik - implementacja aplikacji webowej.</li>
                    <li>Wojciech Bałtruszewicz - przetwarzanie danych wraz z stworzeniem wykresów.</li>
                </p>
            </section>
        </p>
    </body>



</html>