{#{% extends "base.html" %}#}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SIMULATION</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="home">Home</a></li>
                    <li><a href="simulation">Simulation</a></li>
                </ul>
            </nav>
        </header>

    <section class="wpis-danych">
        <h1>Symulacja</h1>
    <form action="{{ url_for('my_form_post') }}" method="POST">

            <label for="initial_temperature">Początkowa temperatura wody:</label><br>
            <input type="text" id="initial_temperature" name="initial_temperature" value={{ data.get_initial_temperature() }}><br>

            <label for="temperature_goal">Temperatura końcowa:</label><br>
            <input type="text" id="temperature_goal" name="temperature_goal" value={{ data.get_temperature_goal() }}><br>

            <label for="time">Czas trwania symulacji (w godzinach):</label><br>
            <input type="text" id="time" name="time" value={{ data.get_time() }}><br>

            <label for="ambient_temperature">Temperatura otoczenia:</label><br>
            <input type="text" id="ambient_temperature" name="ambient_temperature" value={{ data.get_ambient_temperature() }}><br>

        <input type="submit" value="Wykonaj symulację">
    </form>
    </section>
    </body>

</html>