@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    /*background-color: #2b51c4;*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
}

.logo {
    cursor: pointer;
    background-color: #000000;
}

.nav_links{
    list-style: none;
    background-color: #000000;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #000000;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    background-color: #000000;
}

.nav_links li a:hover {
    color: #0088a9;
    background-color: #000000;
}

button{
    padding: 9px 25px;
    border: none;
    /*border-radius: 50px;*/
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(0,136,169,1);
}

button:hover {
    background-color: rgba(0,16,169,0.8);
}

.naglowek{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
    margin: 10px;
    padding-top: 30px;
    padding-left: 20px;

}

.opis{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.opis2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.opis2 ul
{
    margin-left: 50px;
}

.main_footer {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 5px 10%;
    background-color: #3d6480;
    color: #edf0f1;
}
.wpis-danych{
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    text-align: center;
    margin-top: 20px;
}
.wpis-danych input[type=text]
{
    font-family: 'Montserrat', sans-serif;
    width: 25%;
  padding: 12px 20px;
  box-sizing: border-box;
    text-align: center;
  border: 2px solid #0088a9;
    color: #edf0f1;
  border-radius: 4px;
}
.wpis-danych input[type=submit]
{
    font-family: 'Montserrat', sans-serif;
    width: 40%;
  padding: 12px 20px;
  margin-top: 25px;
  box-sizing: border-box;
  border: 2px solid #0088a9;
    color: #edf0f1;
    text-align: center;
  border-radius: 4px;
}


